$primary-color: rgb(0, 0, 0);
body {
  background: $primary-color;
}

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  
}

.rect {
  stroke-dasharray: 610;
  stroke-dashoffset: -610;
  animation: draw-square 3s infinite;
}

@keyframes draw-square {
  from {
    stroke-dashoffset: -610;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.poly {
  stroke-dasharray: 425;
  stroke-dashoffset: -425;
  animation: draw-poly 2.5s infinite;
  transform-origin: 50% 50%;
}

@keyframes draw-poly {
  from {
    stroke-dashoffset: -425;
    transform: rotate(0deg);
  }
  to {
    stroke-dashoffset: 0;
    transform: rotate(-360deg);
  }
}

.monkey {
  stroke: rgb(0, 198, 243);
  fill: rgb(163, 0, 213);
  stroke-width: 4px;
  stroke-dasharray: 2000;
  stroke-dashoffset: -2000;
  animation: monkeyAnim 3s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes monkeyAnim {
  0%{
    stroke-dashoffset: -2000;
  }

  50%{
    stroke: rgb(163, 0, 213);
    fill:rgb(0, 198, 243); 
   
  }
  100% {
    stroke-dashoffset: 0;
  }
}
